body {
    background: #1a1919;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 400px;
    overflow: auto;
}

#header {
    background: #1a1919;
    position: fixed;
    padding-bottom: 5px;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

#header_content {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 20px;
    flex-grow: 1;
}

#content {
    background: #ffffff;
    padding: 100px;
}

#footer {
    width: 100%;
    min-width: 200px;
    background: #ffffff;
    position: relative;
    margin-top: 10px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner {
    height: 110px;
    padding-top: 45px;
    font-size: 40px;
    color: #30addf;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    flex-grow: 1;
}

#banner {
    width: 100%;
    height: 500px;
    margin-top: 70px;
    background-image: url("images/Ottawa.jpg");
    background-position-y: center;
    background-size: cover;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
}

.section {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
    max-width: 60px;
}

.bio_section{
    max-width: 800px;
    min-height: 250px;
    margin-top: 10px;
}

#logo {
    display: inline-block;
    flex-grow: 6;
    position: relative;
    margin-top: 5px;
    margin-left: 100px;
}

.nav_button {
    color: white;
    padding: 20px 10px 20px 10px;
    display: inline-block;
    cursor: pointer;
}

.section_title {
    font-size: 20pt;
}

.wrap_img {
    float: left;
    margin: 12px;
}



